html, body {
    margin: 0; 
    height: 100%; 
    background-color: #666;
}

#page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%
}

#header {
    background: #333;
    font: 32px 700 'Open Sans'; 
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000
}

#body {
    padding: 0% 5% 5%;
    padding-top: calc(60px + 5%)
}

#title {
    padding-left: 5%
}
