#form {
    border: 0.5px solid #fff; 
    border-radius: 5px;
    width: 97%;
    padding: 1.5%;
    background-color: #fff;
}

#form-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

#button {
    background-color: #E77600;
}

#clear-button {
    right: 1%;
    background-color: #fff;
    border-color: #E77600;
}