#form {
    border: 0.5px solid #fff; 
    border-radius: 5px;
    width: 97%;
    padding: 1.5%;
    background-color: #fff;
}

#button {
    background-color: #E77600;
    align-self: flex-end;
    margin-top: 20px;
}